                    .section_1 {
                        background-color: #0D0D2B;
                        .main__box {
                            padding-top: 130px;
                            @include d-flex;
                            // gap: 90px;
                            .main__box-card {
                                display: flex;
                                gap: 24px;
                                h1 {
                                    font-family: 'Rubik';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 40px;
                                    line-height: 150%;
                                    color: #FFFFFF;
                                }
                                p {
                                    font-family: 'Rubik';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 28px;
                                    letter-spacing: 0.01em;
                                    color: #E0E0E0;
                                }
                                img {
                                    padding: 25px 25px;
                                    border-radius: 50%;
                                    background-color: rgba(255, 255, 255, 0.1);
                                }
                            }
                        }
                        .shadow1 {
                            margin-left: 900px;
                            margin-bottom: -100px;
                            width: 300px;
                            .img_1 {
                                width: 260px;
                                height: 260px;
                                position: absolute;
                                // left: 570px;
                                top: -60px;
                            }
                        }
                        .choose {
                            padding-top: 50px;
                            @include d-flex;
                            gap: 100px;
                            .choose__text {
                                h1 {
                                    font-family: 'Rubik';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 40px;
                                    line-height: 150%;
                                    color: #FFFFFF;
                                }
                                p {
                                    padding: 23px 0px 30px 0px;
                                    font-family: 'Rubik';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 28px;
                                    letter-spacing: 0.01em;
                                    color: #E0E0E0;
                                }
                                .btn {
                                    @include btn;
                                }
                            }
                        }
                        .shadow2 {
                            position: relative;
                            .img_2 {
                                width: 240px;
                                height: 240px;
                                position: relative;
                                left: 970px;
                                top: -24px;
                            }
                        }
                        .check {
                            max-width: 622px;
                            margin: 0 auto;
                            h1 {
                                font-family: 'Rubik';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 40px;
                                line-height: 150%;
                                text-align: center;
                                color: #FFFFFF;
                            }
                            p {
                                padding: 24px 0px 200px 0px;
                                font-family: 'Rubik';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 150%;
                                text-align: center;
                                color: #E0E0E0;
                            }
                        }
                    }
                    
                    .section_2 {
                        width: 100%;
                        background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
                        .calculate {
                            position: relative;
                            .calculate__box {
                                padding: 30px;
                                position: absolute;
                                top: -160px;
                                left: 122px;
                                margin: 0 auto;
                                border: 1px;
                                border-radius: 16px;
                                background-color: white;
                                .calculate__input {
                                    padding: 50px 0px 40px 0px;
                                    display: flex;
                                    gap: 30px;
                                    .calculate__input-1 {
                                        input:focus {
                                            outline: none;
                                            border: none;
                                        }
                                        input {
                                            width: 400px;
                                            font-family: 'Rubik';
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 20px;
                                            line-height: 150%;
                                            color: #0D0D2B;
                                            mix-blend-mode: normal;
                                            border: none;
                                            padding: 8px;
                                            hr {
                                                color: #E0E0E0;
                                            }
                                        }
                                    }
                                    .calculate__input-2 {
                                        input:focus {
                                            outline: none;
                                            border: none;
                                        }
                                        input {
                                            padding: 8px;
                                            width: 200px;
                                            font-family: 'Rubik';
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 20px;
                                            line-height: 150%;
                                            color: #0D0D2B;
                                            mix-blend-mode: normal;
                                            border: none;
                                            hr {
                                                color: #E0E0E0;
                                            }
                                        }
                                    }
                                    .btn {
                                        @include btn;
                                    }
                                }
                                .calculate__input-text {
                                    h1 {
                                        padding: 70px 0px 4px 0px;
                                        font-family: 'Rubik';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 150%;
                                        letter-spacing: 0.04em;
                                        text-transform: uppercase;
                                        color: #3671E9;
                                    }
                                    h2 {
                                        font-family: 'Rubik';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 32px;
                                        line-height: 150%;
                                        letter-spacing: 0.04em;
                                        color: #0D0D2B;
                                        span {
                                            color: #3671E9;
                                        }
                                    }
                                    p {
                                        font-family: 'Rubik';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 28px;
                                        letter-spacing: 0.01em;
                                        color: #828282;
                                    }
                                }
                            }
                            .market {
                                .market__text {
                                    margin: 0 auto;
                                    h1 {
                                        margin-left: 170px;
                                        width: 741px;
                                        font-family: 'Rubik';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 40px;
                                        line-height: 150%;
                                        color: #0D0D2B;
                                        text-align: center;
                                        padding-top: 300px;
                                    }
                                }
                                .market__cards {
                                    @include d-flex;
                                    gap: 20px;
                                    margin-top: 60px;
                                    padding-bottom: 100px;
                                    .market__cards-card:hover {
                                        background-color: #2B076E;
                                        transition: 0.5s;
                                    }
                                    .market__cards-card:hover h1 {
                                        color: white;
                                    }
                                    .market__cards-card {
                                        transition: 0.5s;
                                        padding: 40px 24px;
                                        background-color: #ffffff;
                                        border-radius: 16px;
                                        width: 370px;
                                        img {
                                            margin: 0 auto;
                                            display: block;
                                        }
                                        h1 {
                                            padding: 40px 0px 16px 0px;
                                            font-family: 'Rubik';
                                            font-style: normal;
                                            font-weight: 700;
                                            font-size: 32px;
                                            line-height: 150%;
                                            text-align: center;
                                            color: #0D0D2B;
                                            span {
                                                font-family: 'Rubik';
                                                font-style: normal;
                                                font-weight: 500;
                                                font-size: 18px;
                                                line-height: 150%;
                                                text-align: center;
                                                color: #BDBDBD;
                                                opacity: 0.7;
                                            }
                                        }
                                        p {
                                            padding-bottom: 25px;
                                            font-family: 'Rubik';
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 28px;
                                            text-align: center;
                                            letter-spacing: 0.01em;
                                            color: #828282;
                                        }
                                        .card__button {
                                            svg {
                                                fill: white;
                                            }
                                            h3 {
                                                display: none;
                                                padding-bottom: 3px;
                                                color: white;
                                            }
                                            transition: 0.3s;
                                            border-radius: 32px;
                                            background-color: transparent;
                                            display: flex;
                                            justify-content: center;
                                            margin: 0 auto;
                                            align-items: center;
                                            column-gap: 10px;
                                            width: 210px;
                                            img {
                                                margin: 0 auto;
                                                display: block;
                                            }
                                        }
                                        .card__button:hover {
                                            background-color: #3671E9;
                                            transition: .6s;
                                            padding: 0px 0px 0px 10px;
                                        }
                                        .card__button:hover h3 {
                                            display: block;
                                        }
                                        .card__button:hover svg {
                                            width: 35px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    .section_3 {
                        background: #2B076E;
                        .portfolio {
                            position: relative;
                            .top {
                                position: absolute;
                            }
                            h1 {
                                padding: 100px 0px;
                                width: 758px;
                                margin: 0 auto;
                                font-family: 'Rubik';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 40px;
                                line-height: 150%;
                                text-align: center;
                                color: #FFFFFF;
                            }
                            .portfolio__text {
                                position: relative;
                                padding: 120px 0px;
                                display: flex;
                                align-items: flex-start;
                                justify-content: space-between;
                                .bottom {
                                    position: absolute;
                                    right: -50px;
                                    bottom: 50px;
                                }
                                h2 {
                                    font-family: 'Rubik';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 32px;
                                    line-height: 150%;
                                    color: #FFFFFF;
                                }
                                p {
                                    padding: 24px 0px 40px 0px;
                                    width: 408px;
                                    font-family: 'Rubik';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 28px;
                                    letter-spacing: 0.01em;
                                    color: #E0E0E0;
                                }
                                .btn {
                                    @include btn;
                                }
                            }
                        }
                    }
                    
                    .section_4 {
                        background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
                        .mining {
                            position: relative;
                            padding: 48px;
                            background: #3671E9;
                            border-radius: 16px;
                            display: flex;
                            gap: 100px;
                            align-items: center;
                            .main {
                                position: absolute;
                            }
                            .end {
                                position: absolute;
                                right: 15px;
                                bottom: 0;
                            }
                            .mining__text {
                                h1 {
                                    font-family: 'Rubik';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 32px;
                                    line-height: 150%;
                                    color: #FFFFFF;
                                    mix-blend-mode: normal;
                                }
                                p {
                                    padding-top: 16px;
                                    font-family: 'Rubik';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 28px;
                                    letter-spacing: 0.01em;
                                    color: #FFFFFF;
                                    mix-blend-mode: normal;
                                }
                            }
                            .mining__input {
                                form {
                                    display: flex;
                                    align-items: center;
                                    gap: 40px;
                                    input {
                                        padding: 10px 0px;
                                        width: 374px;
                                        background-color: #3671E9;
                                        border: none;
                                    }
                                    input::placeholder {
                                        font-family: 'Rubik';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 28px;
                                        letter-spacing: 0.01em;
                                        color: #FFFFFF;
                                    }
                                    hr {
                                        color: rgba(255, 255, 255, 0.4);
                                    }
                                    .btn {
                                        background-color: #fff !important;
                                        padding: 15px 30px;
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 18px;
                                        line-height: 150%;
                                        text-align: center;
                                        color: #0D0D2B;
                                        border: none;
                                        border-radius: 32px;
                                    }
                                }
                            }
                        }
                    }
                    
                    .calc:hover {
                        color: black !important;
                    }